h1 {
  color: #fa0201;
  font-family: Starjedi;
}

h2{
    color: #fa0201;
}

ul{

}

li{
    color: #fa0201;
}

.passies{

}

.emmer{

}

@font-face {
    font-family: Starjedi;
    src:url(starjhol.ttf);
}

h3{
  color: #fa0201;
}